@model IEnumerable<App.Domain.Entities.Company>

@{
    ViewData["Title"] = "Компании";
}

<h2>Компании</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Создать новую компанию</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Наименование</th>
            <th>Адрес</th>
            <th>Телефон</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Address</td>
                <td>@item.PhoneNumber</td>
                <td>@item.Email</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
